{% extends 'header.html' %} 
{% block content %}
<main>
    <h1 class="text-center">Buscador Rick & Morty</h1>

    <!-- Barra de paginación -->
    <div class="d-flex justify-content-end" style="margin-bottom: 1%; margin-right: 2rem;">
        <nav aria-label="Paginación">
            <ul class="pagination">
                <!-- Botón "anterior" -->
                {% if info.prev %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ current_page|add:-1 }}">⬅️</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">⬅️</a>
                </li>
                {% endif %}

                <!-- Enumerar todas las páginas -->
                {% for page in page_range %}
                <li class="page-item {% if page == current_page %}active{% endif %}">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}

                <!-- Botón "siguiente" -->
                {% if info.next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ current_page|add:1 }}">➡️</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">➡️</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- Buscador -->
    <div class="d-flex justify-content-center" style="margin-bottom: 1%">
        <form class="d-flex" action="{% url 'buscar' %}" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name="query" placeholder="Escribí una palabra" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>

    <!-- Galería de imágenes -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if images|length == 0 %}
        <h2 class="text-center">La búsqueda no arrojó resultados...</h2>
        {% else %}
        {% for img in images %}
        <div class="col">
            <div class="card mb-3 ms-5">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ img.image }}" class="card-img-top" alt="{{ img.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">{{ img.name }}</h3>
                            <p class="card-text">{{ img.status }}</p>
                            <p class="card-text"><small>{{ img.location }}</small></p>
                            <p class="card-text"><small>{{ img.episode }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}
